<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intercomChat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
				<key>dateExpires</key>
				<string>2021/08/18</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>http_proxy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48741BEC6F33F5CAB6540132817183C8CBCAACD8</string>
						<key>dateExpires</key>
						<string>2021/08/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2FR8PNGCB8.jp.co.intercom.mct</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85M7Q62PLJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bb6211a3-016a-4937-8298-79242ef40244</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: jp.co.intercom.mct</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85M7Q62PLJ</string>
				<key>name</key>
				<string>Intercom, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
