<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageShow.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0.54</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5CA588849568175ED23623A14F13E1F5E99A1532</string>
				<key>dateExpires</key>
				<string>2022/01/19</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CA588849568175ED23623A14F13E1F5E99A1532</string>
						<key>dateExpires</key>
						<string>2022/01/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CA588849568175ED23623A14F13E1F5E99A1532</string>
						<key>dateExpires</key>
						<string>2022/01/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CA588849568175ED23623A14F13E1F5E99A1532</string>
						<key>dateExpires</key>
						<string>2022/01/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CA588849568175ED23623A14F13E1F5E99A1532</string>
						<key>dateExpires</key>
						<string>2022/01/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85M7Q62PLJ</string>
						<key>name</key>
						<string>Intercom, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85M7Q62PLJ.jp.co.intercom.remoteoperator.console-test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85M7Q62PLJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>85M7Q62PLJ.jp.co.intercom.remoteoperator.console-test</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9eafab76-2a18-456d-8cdf-564985b08a9a</string>
				<key>dateExpires</key>
				<string>2022/10/14</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: jp.co.intercom.remoteoperator.console-test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85M7Q62PLJ</string>
				<key>name</key>
				<string>Intercom, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
